In [1]:
import matplotlib
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import datetime as dt

In [2]:
housing_df = pd.read_csv("Resources/DC_Properties.csv")

/anaconda3/envs/PythonData/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (18,19,20,21,22,23,24,33,34,35,37,43,45) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
housing_df2 = housing_df.drop(["Unnamed: 0", "BLDG_NUM", "NATIONALGRID", "X", "Y"], axis=1)
housing_df2.head()

,BATHRM,HF_BATHRM,HEAT,AC,NUM_UNITS,ROOMS,BEDRM,AYB,YR_RMDL,EYB,...,ZIPCODE,LATITUDE,LONGITUDE,ASSESSMENT_NBHD,ASSESSMENT_SUBNBHD,CENSUS_TRACT,CENSUS_BLOCK,WARD,SQUARE,QUADRANT
0,4,0,Warm Cool,Y,2.0,8,4,1910.0,1988.0,1972,...,20009.0,38.914680,-77.040832,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,NW
1,3,1,Warm Cool,Y,2.0,11,5,1898.0,2007.0,1972,...,20009.0,38.914683,-77.040764,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,NW
2,3,1,Hot Water Rad,Y,2.0,9,5,1910.0,2009.0,1984,...,20009.0,38.914684,-77.040678,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,NW
3,3,1,Hot Water Rad,Y,2.0,8,5,1900.0,2003.0,1984,...,20009.0,38.914683,-77.040629,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,NW
4,2,1,Warm Cool,Y,1.0,11,3,1913.0,2012.0,1985,...,20009.0,38.914383,-77.039361,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,NW

In [4]:
housing_df2['YEAR'] = pd.DatetimeIndex(housing_df2['SALEDATE']).year
housing_df2['MONTH'] = pd.DatetimeIndex(housing_df2['SALEDATE']).month
housing_df2.head()

,BATHRM,HF_BATHRM,HEAT,AC,NUM_UNITS,ROOMS,BEDRM,AYB,YR_RMDL,EYB,...,LONGITUDE,ASSESSMENT_NBHD,ASSESSMENT_SUBNBHD,CENSUS_TRACT,CENSUS_BLOCK,WARD,SQUARE,QUADRANT,YEAR,MONTH
0,4,0,Warm Cool,Y,2.0,8,4,1910.0,1988.0,1972,...,-77.040832,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,NW,2003.0,11.0
1,3,1,Warm Cool,Y,2.0,11,5,1898.0,2007.0,1972,...,-77.040764,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,NW,2000.0,8.0
2,3,1,Hot Water Rad,Y,2.0,9,5,1910.0,2009.0,1984,...,-77.040678,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,NW,2016.0,6.0
3,3,1,Hot Water Rad,Y,2.0,8,5,1900.0,2003.0,1984,...,-77.040629,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,NW,2006.0,7.0
4,2,1,Warm Cool,Y,1.0,11,3,1913.0,2012.0,1985,...,-77.039361,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,NW,NaN,NaN

In [5]:
housing_df2 = housing_df2[housing_df2.PRICE.notnull()]
residential_df = housing_df2.loc[housing_df2["SOURCE"] == "Residential"]
residential_df.count().head()

BATHRM       57900
HF_BATHRM    57900
HEAT         57900
AC           57900
NUM_UNITS    57900
dtype: int64

In [7]:
housing_df3 = residential_df[['YEAR','PRICE','WARD']]
housing_df3

          YEAR      PRICE    WARD
0       2003.0  1095000.0  Ward 2
2       2016.0  2100000.0  Ward 2
3       2006.0  1602000.0  Ward 2
5       2010.0  1950000.0  Ward 2
7       2011.0  1050000.0  Ward 2
8       2018.0  1430000.0  Ward 2
14      2011.0  1325000.0  Ward 2
16      2010.0  1240000.0  Ward 2
19      2001.0   592250.0  Ward 2
20      2016.0    33232.0  Ward 2
22      2006.0   907400.0  Ward 2
23      2012.0  1065000.0  Ward 2
24      2012.0  1100000.0  Ward 2
25      1996.0    20000.0  Ward 2
27      2005.0   703700.0  Ward 2
29      2013.0  1210000.0  Ward 2
32      1999.0   130500.0  Ward 2
37      1997.0   339500.0  Ward 2
40      2006.0  1050000.0  Ward 2
41      2016.0  1550000.0  Ward 2
42      2015.0  1599900.0  Ward 2
43      2018.0  1700000.0  Ward 2
44      2017.0  1700000.0  Ward 2
45      2001.0   450000.0  Ward 2
46      2011.0   846000.0  Ward 2
48      1999.0   348500.0  Ward 2
50      2009.0   849000.0  Ward 2
52      2006.0  1312000.0  Ward 2
54      1997.0   390000.0  Ward 2
55      2004.0   772500.0  Ward 2
...        ...        ...     ...
106630  1993.0    60700.0  Ward 8
106631  2010.0   180000.0  Ward 8
106632  2008.0   285000.0  Ward 8
106633  1998.0    67100.0  Ward 8
106637  1993.0    73000.0  Ward 8
106638  1997.0   109950.0  Ward 8
106641  2018.0   350000.0  Ward 8
106642  2009.0    66675.0  Ward 8
106645  2012.0   180000.0  Ward 8
106646  2005.0   193000.0  Ward 8
106650  2016.0   336000.0  Ward 8
106651  1995.0    90000.0  Ward 8
106653  2007.0    90000.0  Ward 8
106654  2008.0   106000.0  Ward 8
106656  2014.0   227000.0  Ward 8
106657  2008.0   140496.0  Ward 8
106662  2001.0   120000.0  Ward 8
106663  1996.0   109256.0  Ward 8
106664  2013.0   230000.0  Ward 8
106666  2012.0   215000.0  Ward 8
106668  2005.0   205000.0  Ward 8
106672  2002.0   100000.0  Ward 8
106673  2002.0   103000.0  Ward 8
106682  2000.0   118000.0  Ward 8
106683  2000.0        1.0  Ward 8
106687  2004.0    95000.0  Ward 8
106688  2016.0   185000.0  Ward 8
106692  2012.0   100000.0  Ward 8
106694  2017.0   215000.0  Ward 8
106695  2017.0   140000.0  Ward 8

[57900 rows x 3 columns]

In [10]:
housing_df3 = housing_df3[housing_df3.PRICE.notnull()]
housing_df3 = housing_df3[housing_df3.WARD.notnull()]
housing_df3 = housing_df3[~(housing_df3['YEAR'] < 1992.0)] 
housing_df3 = housing_df3[~(housing_df3['YEAR'] > 2017.0)]
housing_df3.head()

     YEAR      PRICE    WARD
0  2003.0  1095000.0  Ward 2
2  2016.0  2100000.0  Ward 2
3  2006.0  1602000.0  Ward 2
5  2010.0  1950000.0  Ward 2
7  2011.0  1050000.0  Ward 2

In [11]:
housing_df3.to_excel("sale_price_ward.xlsx")

In [12]:
housing_df3 = residential_df[['YEAR','YR_RMDL','WARD']]
housing_df3

          YEAR  YR_RMDL    WARD
0       2003.0   1988.0  Ward 2
2       2016.0   2009.0  Ward 2
3       2006.0   2003.0  Ward 2
5       2010.0      NaN  Ward 2
7       2011.0   2011.0  Ward 2
8       2018.0   2008.0  Ward 2
14      2011.0   2000.0  Ward 2
16      2010.0   2006.0  Ward 2
19      2001.0   2013.0  Ward 2
20      2016.0   2009.0  Ward 2
22      2006.0   2010.0  Ward 2
23      2012.0   2010.0  Ward 2
24      2012.0   2004.0  Ward 2
25      1996.0   2010.0  Ward 2
27      2005.0   1963.0  Ward 2
29      2013.0   2014.0  Ward 2
32      1999.0   2004.0  Ward 2
37      1997.0   2009.0  Ward 2
40      2006.0   1978.0  Ward 2
41      2016.0   2016.0  Ward 2
42      2015.0   2009.0  Ward 2
43      2018.0   2006.0  Ward 2
44      2017.0   2016.0  Ward 2
45      2001.0   2009.0  Ward 2
46      2011.0   2011.0  Ward 2
48      1999.0      NaN  Ward 2
50      2009.0      NaN  Ward 2
52      2006.0   2006.0  Ward 2
54      1997.0   2004.0  Ward 2
55      2004.0   2007.0  Ward 2
...        ...      ...     ...
106630  1993.0      NaN  Ward 8
106631  2010.0   2010.0  Ward 8
106632  2008.0   2007.0  Ward 8
106633  1998.0      NaN  Ward 8
106637  1993.0      NaN  Ward 8
106638  1997.0      NaN  Ward 8
106641  2018.0   2018.0  Ward 8
106642  2009.0      NaN  Ward 8
106645  2012.0      NaN  Ward 8
106646  2005.0      NaN  Ward 8
106650  2016.0   2017.0  Ward 8
106651  1995.0      NaN  Ward 8
106653  2007.0   2017.0  Ward 8
106654  2008.0      NaN  Ward 8
106656  2014.0   2007.0  Ward 8
106657  2008.0   2008.0  Ward 8
106662  2001.0      NaN  Ward 8
106663  1996.0      NaN  Ward 8
106664  2013.0   2013.0  Ward 8
106666  2012.0   2013.0  Ward 8
106668  2005.0      NaN  Ward 8
106672  2002.0      NaN  Ward 8
106673  2002.0   2002.0  Ward 8
106682  2000.0   2016.0  Ward 8
106683  2000.0   1999.0  Ward 8
106687  2004.0      NaN  Ward 8
106688  2016.0   2017.0  Ward 8
106692  2012.0      NaN  Ward 8
106694  2017.0   2017.0  Ward 8
106695  2017.0   2018.0  Ward 8

[57900 rows x 3 columns]

In [13]:
housing_df3 = housing_df3[housing_df3.WARD.notnull()]
housing_df3 = housing_df3[housing_df3.YR_RMDL.notnull()]
housing_df3 = housing_df3[~(housing_df3['YR_RMDL'] < 1992.0)] 
housing_df3 = housing_df3[~(housing_df3['YR_RMDL'] > 2017.0)]
housing_df3.head()

      YEAR  YR_RMDL    WARD
2   2016.0   2009.0  Ward 2
3   2006.0   2003.0  Ward 2
7   2011.0   2011.0  Ward 2
8   2018.0   2008.0  Ward 2
14  2011.0   2000.0  Ward 2

In [14]:
housing_df3.to_excel("remodel_ward.xlsx")

In [15]:
housing_df2.columns

Index(['BATHRM', 'HF_BATHRM', 'HEAT', 'AC', 'NUM_UNITS', 'ROOMS', 'BEDRM',
       'AYB', 'YR_RMDL', 'EYB', 'STORIES', 'SALEDATE', 'PRICE', 'QUALIFIED',
       'SALE_NUM', 'GBA', 'STYLE', 'STRUCT', 'GRADE', 'CNDTN', 'EXTWALL',
       'ROOF', 'INTWALL', 'KITCHENS', 'FIREPLACES', 'USECODE', 'LANDAREA',
       'GIS_LAST_MOD_DTTM', 'SOURCE', 'CMPLX_NUM', 'LIVING_GBA', 'FULLADDRESS',
       'CITY', 'STATE', 'ZIPCODE', 'LATITUDE', 'LONGITUDE', 'ASSESSMENT_NBHD',
       'ASSESSMENT_SUBNBHD', 'CENSUS_TRACT', 'CENSUS_BLOCK', 'WARD', 'SQUARE',
       'QUADRANT', 'YEAR', 'MONTH'],
      dtype='object')

In [19]:
housing_df3 = residential_df[['YEAR','BEDRM','WARD', 'BATHRM', 'PRICE']]
housing_df3

          YEAR  BEDRM    WARD  BATHRM      PRICE
0       2003.0      4  Ward 2       4  1095000.0
2       2016.0      5  Ward 2       3  2100000.0
3       2006.0      5  Ward 2       3  1602000.0
5       2010.0      5  Ward 2       3  1950000.0
7       2011.0      4  Ward 2       3  1050000.0
8       2018.0      3  Ward 2       3  1430000.0
14      2011.0      3  Ward 2       3  1325000.0
16      2010.0      3  Ward 2       3  1240000.0
19      2001.0      3  Ward 2       3   592250.0
20      2016.0      5  Ward 2       3    33232.0
22      2006.0      3  Ward 2       1   907400.0
23      2012.0      3  Ward 2       2  1065000.0
24      2012.0      3  Ward 2       2  1100000.0
25      1996.0      4  Ward 2       1    20000.0
27      2005.0      3  Ward 2       3   703700.0
29      2013.0      3  Ward 2       3  1210000.0
32      1999.0      2  Ward 2       2   130500.0
37      1997.0      4  Ward 2       2   339500.0
40      2006.0      4  Ward 2       3  1050000.0
41      2016.0      4  Ward 2       3  1550000.0
42      2015.0      4  Ward 2       3  1599900.0
43      2018.0      4  Ward 2       3  1700000.0
44      2017.0      4  Ward 2       3  1700000.0
45      2001.0      5  Ward 2       3   450000.0
46      2011.0      4  Ward 2       3   846000.0
48      1999.0      3  Ward 2       2   348500.0
50      2009.0      3  Ward 2       2   849000.0
52      2006.0      4  Ward 2       3  1312000.0
54      1997.0      2  Ward 2       1   390000.0
55      2004.0      3  Ward 2       3   772500.0
...        ...    ...     ...     ...        ...
106630  1993.0      4  Ward 8       2    60700.0
106631  2010.0      4  Ward 8       2   180000.0
106632  2008.0      3  Ward 8       1   285000.0
106633  1998.0      4  Ward 8       2    67100.0
106637  1993.0      4  Ward 8       2    73000.0
106638  1997.0      4  Ward 8       2   109950.0
106641  2018.0      4  Ward 8       2   350000.0
106642  2009.0      3  Ward 8       1    66675.0
106645  2012.0      2  Ward 8       1   180000.0
106646  2005.0      2  Ward 8       1   193000.0
106650  2016.0      5  Ward 8       2   336000.0
106651  1995.0      2  Ward 8       1    90000.0
106653  2007.0      2  Ward 8       1    90000.0
106654  2008.0      2  Ward 8       1   106000.0
106656  2014.0      3  Ward 8       2   227000.0
106657  2008.0      3  Ward 8       2   140496.0
106662  2001.0      3  Ward 8       1   120000.0
106663  1996.0      3  Ward 8       1   109256.0
106664  2013.0      3  Ward 8       1   230000.0
106666  2012.0      3  Ward 8       1   215000.0
106668  2005.0      3  Ward 8       2   205000.0
106672  2002.0      6  Ward 8       3   100000.0
106673  2002.0      6  Ward 8       3   103000.0
106682  2000.0      8  Ward 8       3   118000.0
106683  2000.0      6  Ward 8       3        1.0
106687  2004.0      4  Ward 8       2    95000.0
106688  2016.0      4  Ward 8       2   185000.0
106692  2012.0      5  Ward 8       2   100000.0
106694  2017.0      4  Ward 8       2   215000.0
106695  2017.0      4  Ward 8       2   140000.0

[57900 rows x 5 columns]

In [20]:
housing_df3 = housing_df3[housing_df3.WARD.notnull()]
housing_df3 = housing_df3[housing_df3.YEAR.notnull()]
housing_df3 = housing_df3[housing_df3.PRICE.notnull()]
housing_df3 = housing_df3[~(housing_df3['YEAR'] < 1992.0)] 
housing_df3 = housing_df3[~(housing_df3['YEAR'] > 2017.0)]
housing_df3.head()

     YEAR  BEDRM    WARD  BATHRM      PRICE
0  2003.0      4  Ward 2       4  1095000.0
2  2016.0      5  Ward 2       3  2100000.0
3  2006.0      5  Ward 2       3  1602000.0
5  2010.0      5  Ward 2       3  1950000.0
7  2011.0      4  Ward 2       3  1050000.0

In [21]:
housing_df3.to_excel("bedroom_ward.xlsx")